.carousel-container {
    width: calc(100% - 90px);
    justify-content: center;
    display: block;
    margin: 100px;
    max-width: 90vw;
}

.slide h3 {
    display: flex;
    justify-content: center;
}

.slide {
    padding: 120px 0;
    background-color: blue;
}

/* ul {
    width: 100vw;
} */

.slick-dots li button:before {
    font-size: 30px;
    line-height: 20px;
    border-radius: 100%;
    content: "■";
}

.slick-list {
    border-radius: 8px;
    width: 100%;
}
