.footer-container {
    margin: 0 auto;
    /* max-width: 1680px; */
    width: 100%;
}

.footer-panel {
    padding: 120px 130px;
    padding-left: calc(env(safe-area-inset-left) + 130px);
    padding-right: calc(env(safe-area-inset-right) + 130px);
    color: black;
}

.footer-grid {
    display: grid;
    grid-gap: 30px;
    grid-column-gap: 100px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 260px 1fr auto;
    grid-auto-flow: column;
}

/* @media (min-width: 105em) {
    .footer-grid {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 260px 1fr auto;
        grid-auto-flow: column;
    }
}

@media screen and (min-width: 78.75em) {
    .footer-grid {
        display: grid;
        grid-gap: 30px;
        grid-column-gap: 100px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 1fr auto;
    }
} */

.footer-header {
    margin-bottom: 0.35em;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.125;
    font-family: "Poppins", sans-serif;
}

a {
    color: inherit;
    background-image: linear-gradient(
        rgba(16, 16, 229, 0.15),
        rgba(16, 16, 229, 0.15)
    );
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 0.5em;
    text-decoration: none;
    transition: background-size 0.2s ease-out;
    font-family: "Poppins", sans-serif;
}

a:hover {
    background-size: 100% 2em;
}

.footer-link {
    white-space: nowrap;
}

strong {
    font-weight: 700;
}

p + p {
    margin-top: 1em;
}

.footer-newsletter {
    margin-top: 0;
}

.newsletter-title {
    margin-bottom: 0.35em;
    text-transform: uppercase;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
}

.newsletter-copy {
    display: block;
}

.field {
    padding-top: 1.5em;
    position: relative;
}

.field label {
    left: 0px;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    text-transform: inherit;
    top: 0px;
    transform: scale(1) translateY(1.5em);
    transform-origin: 0px 0px;
    font: inherit;
    padding: 0.5em 0px;
    transition: transform 120ms ease 0s;
}

.field input:required {
    box-shadow: none;
}

.field input {
    background-color: transparent;
    color: inherit;
    border-color: inherit;
    padding: 0.5em 0px;
    outline-style: none;
}

.field input,
.field select {
    width: 100%;
    border-radius: 0px;
    border-style: solid;
    border-width: 0px 0px 1px;
    font: inherit;
}

.newsletter-input {
    display: block;
    width: 100%;
}

.newsletter-submit {
    margin-top: 2em;
    text-align: right;
}

.cta,
.cta-target {
    display: inline-block;
}

.cta--default .cta-target,
.cta--large .cta-target {
    -webkit-transition-property: opacity;
    transition-property: opacity;
}

.cta .cta-target {
    background: none;
    fill: currentColor;
    -webkit-text-decoration: none;
    text-decoration: none;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.cta,
.cta-target {
    display: inline-block;
}

.button {
    background: transparent;
    border: inherit;
    color: inherit;
    cursor: pointer;
    font: inherit;
    -webkit-letter-spacing: inherit;
    -moz-letter-spacing: inherit;
    -ms-letter-spacing: inherit;
    letter-spacing: inherit;
    margin: 0;
    padding: 0;
}

button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: buttontext;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: buttonface;
    border-image: initial;
}

.cta-text {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-weight: 700;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: left;
}

.footer-offices {
    grid-column: 2;
    grid-row: 1 / 3;
    -webkit-box-pack: end;
    justify-content: flex-end;
    margin-top: 0;
    display: flex;
    border-top: 0;
    padding-top: 0;
}
/* @media (min-width: 105em) .footer-offices {
    grid-column: 2;
    grid-row: 1 / 3;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 0;
}

@media (min-width: 78.75em) .footer-offices {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    grid-column: 1 / 3;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
@media (min-width: 48em) .footer-offices {
    border-top: 0;
    margin-top: 60px;
    padding-top: 0;
} */

.picture {
    overflow: hidden;
    width: 100%;
}

.picture--inline.picture--loaded .picture-asset {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.picture--inline .picture-asset {
    opacity: 0;
    -webkit-transition: opacity 0.2s 0.25s ease-out,
        -webkit-transform 0.2s 0.25s ease-out;
    -webkit-transition: opacity 0.2s 0.25s ease-out,
        transform 0.2s 0.25s ease-out;
    transition: opacity 0.2s 0.25s ease-out, transform 0.2s 0.25s ease-out;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.office-name {
    text-transform: uppercase;
}

.text--4 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.41;
    font-family: "Poppins", sans-serif;
}

.office-name::before {
    content: "/";
    margin-right: 0.25em;
}

.office-address {
    color: #666478;
    margin: 10px 0 30px;
    white-space: pre-line;
}

.office-details {
    font-weight: bold;
}

.office-link {
    margin-left: 0.5em;
}

.office-directions {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-weight: bold;
    margin-top: 0.25em;
}

.footer-office + .footer-office {
    margin-left: 40px;
}

/* .footer-office {
    max-width: 130px;
} */

.footer-office + .footer-office {
    margin-top: 0;
    margin-left: 1em;
}
.office {
    display: grid;
    grid-gap: 30px;
    flex-direction: row-reverse;
    grid-template-rows: 260px 1fr;
    height: 100%;
    width: 244px;
}
/* 
@media (min-width: 105em) .office {
    grid-template-rows: 260px 1fr;
}

@media (min-width: 78.75em) .office {
    display: grid;
    grid-gap: 30px;
    grid-template-rows: auto 1fr;
    height: 100%;
}
@media (min-width: 48em) .office {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
} */

.office-secondary {
    background-color: #f6f7f7;
    display: flex;
    flex-basis: 50%;
    justify-content: flex-end;
    margin-left: 0;
    position: relative;
    overflow: hidden;
}

/* @media (min-width: 78.75em) .office-secondary {
    margin-left: 0;
    position: relative;
    overflow: hidden;
}
@media (min-width: 48em) .office-secondary {
    background-color: #f6f7f7;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-left: 30px;
} */

.picture--inline.picture--loaded .picture-asset {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}

.picture--inline .picture-asset {
    opacity: 0;
    -webkit-transition: opacity 0.2s 0.25s ease-out,
        -webkit-transform 0.2s 0.25s ease-out;
    -webkit-transition: opacity 0.2s 0.25s ease-out,
        transform 0.2s 0.25s ease-out;
    transition: opacity 0.2s 0.25s ease-out, transform 0.2s 0.25s ease-out;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

* {
    box-sizing: inherit;
}

.picture-img {
    display: block;
}

.picture-img img {
    object-fit: fill;
    width: 100%;
    height: 100%;
}

.office-primary {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin-right: 30px;
}

.office-address {
    color: #666478;
    margin: 10px 0 30px;
    white-space: pre-line;
}

/* @media (min-width: 48em) .office-address {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
} */

.office-details {
    font-weight: bold;
}

/* @media (min-width: 78.75em) .footer-row {
    grid-column: 1 / 3;
} */

.footer-row {
    grid-column: 1 / 3;
    margin-top: 60px;
    flex-direction: row-reverse;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e0e0e0;
    padding-top: 18px;
    margin-bottom: -12px;
}

/* @media (min-width: 48em) .footer-row {
    margin-top: 60px;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
} */
.social-links {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.social-links-link {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: none;
    color: inherit;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    fill: currentColor;
    padding: 12px;
    -webkit-transition: -webkit-transform 0.2s ease-out;
    -webkit-transition: transform 0.2s ease-out;
    transition: transform 0.2s ease-out;
}

.social-links:not(.social-links--stretch)
    .social-links-link
    + .social-links-link {
    margin-left: 1em;
}

.footer-links {
    margin-top: 20px;
    font-weight: bold;
}

/* @media (min-width: 48em) .footer-links {
    margin-top: 0;
} */

ol,
ul {
    list-style: none;
}

.footer-link-item {
    display: inline-block;
    margin-right: 20px;
}

.footer {
    border-top: 1px solid #e0e0e0;
    justify-content: space-between;
    display: flex;
}

/* @media (min-width: 78.75em) .footer {
    border-top: 1px solid #e0e0e0;
} */
