.video-container {
    width: calc(100% - 90px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container video {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.video {
    height: 100%;
    width: 100%;
}

.background-video {
    display: flex;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.logo-container {
    margin: 0 auto;
    max-width: 1680px;
    width: 100%;
}

.hero-heading {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.panel {
    padding: 45px 30px;
    padding-left: calc(env(safe-area-inset-left) + 30px);
    padding-right: calc(env(safe-area-inset-right) + 30px);
    color: white;
    font-size: 200px;
    font-family: "Poppins", sans-serif;
}

.logo-img {
    display: block;
    left: 134px;
    height: 51px;
    position: absolute;
    top: 66px;
    z-index: 1;
    width: 140px;
}

.logo-img img {
    width: 100px;
    height: 100px;
}

.heading-container {
    width: calc(100% - 90px);
}

/* .page-header {
    margin-left: 90px;
} */

.hero {
    color: #fff;
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
