#flyoutMenu {
    width: auto;
    height: 100vh;
    background-color: #1010e5;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.5s ease-out;
    overflow: scroll;
    z-index: 1000;
    clip-path: polygon(0 0, 0 100%, calc(100% - 60vh) 100%, 100% 0);
    right: -60vh;
}

#flyoutMenu.hide {
    overflow: hidden;
    transform: translate3d(-100%, 0, 0) scale3d(1, 1, 1);
}

#flyoutMenu.show {
    /* transform: translate3d(0vw, 0, 0); */
    overflow: hidden;
    transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
}

#flyoutMenu h2 a {
    color: #6363f4;
    /* margin-left: 25%; */
    text-decoration: none;
    font-size: 3.5em;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    line-height: 133px;
}

#flyoutMenu h2 a:hover {
    text-decoration: none;
    color: #ffffff;
}

.primary-nav__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0px;
}

.primary-nav {
    background-color: rgb(16, 16, 229);
    color: rgb(255, 255, 255);
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

nav {
    display: inline-block;
    position: absolute;
    display: flex;
    left: 15%;
}

ul {
    list-style: none;
    width: 700px;
    padding: 0;
}

.text--2 {
    font-size: 50px;
    font-weight: 700;
    line-height: 1.16;
}
.page-container {
    width: calc(100% - 90px);
    margin-left: 90px;
    border-left: 1px solid #e0e0e0;
}

.nav-container {
    float: left;
    width: 90px;
    height: 100vh;
    background: transparent;
    z-index: 100001;
    display: flex;
    justify-content: space-between;
    position: fixed;
    overflow: hidden;
    /* transition-property: border-right;
    transition-delay: 0.25s;
    border-right: 1px solid #e0e0e0; */
}

/* .nav-container.active {
    border-right: none;
} */

.logo-btn svg {
    position: absolute;
    bottom: 56px;
    left: 24px;
    transition: fill 0.4s ease;
    fill: rgb(29, 29, 29);
}

.logo-btn.active svg {
    fill: white;
}

.header {
    width: 100%;
    height: 100vh;
}
/* HAMBURGER */

.hamburger {
    position: absolute;
    top: 56px;
    left: 20px;
    border: 0;
    outline: none;
    background: none;
    cursor: pointer;
}

/* .hamburger:hover {
    opacity: 0.7;
} */

.hamburger.active .hamburger-inner,
.hamburger.active .hamburger-inner::before,
.hamburger.active .hamburger-inner::after {
    background-color: rgb(255, 255, 255);
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
    content: "";
    display: block;
}
.hamburger-inner::before {
    top: -10px;
}
.hamburger-inner::after {
    bottom: -10px;
}

.hamburger--elastic .hamburger-inner {
    top: 2px;
    transition-duration: 0.275s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger--elastic .hamburger-inner::before {
    top: 10px;
    transition: opacity 0.125s 0.275s ease;
}
.hamburger--elastic .hamburger-inner::after {
    top: 20px;
    transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.hamburger--elastic.active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(135deg);
    transition-delay: 0.075s;
    color: white;
}
.hamburger--elastic.active .hamburger-inner::before {
    transition-delay: 0s;
    opacity: 0;
    color: white;
}
.hamburger--elastic.active .hamburger-inner::after {
    transform: translate3d(0, -20px, 0) rotate(-270deg);
    transition-delay: 0.075s;
    color: white;
}

/* Social Links */

.nav-social {
    position: absolute;
    z-index: 1;
    bottom: 5%;
    left: 15%;
}

.social-container {
    margin: 0 auto;
    max-width: 1680px;
    width: 100%;
    display: flex;
}

.social-links {
    display: flex;
    width: 100%;
}

.social-links-link {
    align-items: center;
    background: none;
    color: inherit;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    fill: currentColor;
    padding: 12px;
    transition: transform 0.2s ease-out;
}
